<section id="fh5co-services" data-section="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-left">
        <h2 class=" left-border to-animate">Services</h2>
        <div class="row">
          <div class="col-md-8 subtext to-animate">
            <h3>Our services are complish to help you in everything about tecnology since simple web page to an personal application to your our bussiness.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-6 col-sm-6 fh5co-service to-animate">
        <i class="icon to-animate-2 icon-eyeglass"></i>
        <h3>Analisys Systems  and Process</h3>
        <p>We can help you to analize and define you idea or duty.</p>
      </div>

      <div class="col-md-6 col-sm-6 fh5co-service to-animate">
        <i class="icon to-animate-2 icon-monitor"></i>
        <h3>Programming</h3>
        <p>An idea needs to become true and we can made it real with the most popular technologies.</p>
      </div>

      <div class="col-md-6 col-sm-6 fh5co-service to-animate">
        <i class="icon to-animate-2 icon-support"></i>
        <h3>Help and Support</h3>
        <p>Sometimes you will need help with your computer devices, trust in out people is what they do.</p>
      </div>
      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-6 col-sm-6 fh5co-service to-animate">
        <i class="icon to-animate-2 icon-paper-plane"></i>
        <h3>Creativity</h3>
        <p>Always looking new technologies and how can help you in the easy and secure way.</p>
      </div>



      <div class="col-md-6 col-sm-6 fh5co-service to-animate">
        <i class="icon to-animate-2 icon-vector"></i>
        <h3>Engineering and Infraestructure</h3>
        <p>let us give you a hand in designing, configuring, implementing and managing communication networks.</p>
      </div>



    </div>
  </div>
</section>
