<section id="fh5co-about" data-section="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">About</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>A Information technology company with high standard of quality in software development,Ingenniering and support, providing you tranquility, satisfaction and joy!.</h3>
            <p><a href="#" class="btn btn-primary">Tell Me more</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Our team</h2>

      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="fh5co-person text-center to-animate">
          <figure><img src="assets/images/girl2.jpg" alt="Image"></figure>
          <h3>Jean Smith</h3>
          <span class="fh5co-position">Web Designer</span>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
          <ul class="social social-circle">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fh5co-person text-center to-animate">
          <figure><img src="assets/images/boy3.jpg" alt="Image"></figure>
          <h3>Charly Albert Esco</h3>
          <span class="fh5co-position">Web Developer</span>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
          <ul class="social social-circle">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-github"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fh5co-person text-center to-animate">
          <figure><img src="assets/images/boy7.jpg" alt="Image"></figure>
          <h3>Larry Ben</h3>
          <span class="fh5co-position">Web Designer</span>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
          <ul class="social social-circle">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
