<section id="fh5co-testimonials" data-section="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Testimonials</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>Ups.., there not Testimonial yet be out first.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box-testimony">
          <blockquote class="to-animate-2">
            <p>&ldquo;this guy can be you, you really have to think about it.&rdquo;</p>
          </blockquote>
          <div class="author to-animate">
            <figure><img src="assets/images/boy5.jpg" alt="Person"></figure>
            <p>
            You?, CEO <a href="#" target="_blank">youcompanywebpage.com</a> <span class="subtext">Director</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-testimony">
          <blockquote class="to-animate-2">
            <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.&rdquo;</p>
          </blockquote>
          <div class="author to-animate">
            <figure><img src="assets/images/boy6a.jpg" alt="Person"></figure>
            <p>
            John Doe Escobedo, Senior of Everthing <a href="#" target="_blank">D:</a> <span class="subtext">Creative Director</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="box-testimony">
          <blockquote class="to-animate-2">
              <p>&ldquo;this guy can be you, you really have to think about it.&rdquo;</p>
          </blockquote>
          <div class="author to-animate">
            <figure><img src="assets/images/girl3.jpg" alt="Person"></figure>
            <p>
            You?, CEO <a href="#" target="_blank">youcompanywebpage.com</a> <span class="subtext">Director</span>
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
