
<!-- dibuja la seccion de intro -->
<app-intro></app-intro>
<!-- fin intro -->

<!-- dibuja la seccion de work -->
<app-work></app-work>
<!-- fin work -->


<!-- dibuja la seccion de testimonials -->
<app-testimonials></app-testimonials>
<!-- fin testimonials -->


<!-- dibuja la seccion de services -->
<app-services></app-services>
<!-- fin services -->

<!-- dibuja la seccion de about -->
<app-about></app-about>
<!-- fin about -->

<!-- dibuja la seccion de counters -->
<app-counters></app-counters>
<!-- fin counters -->


<!-- dibuja la seccion de contact -->
<app-contact></app-contact>
<!-- fin contact -->
